USE [master]
GO
/****** Object:  Database [PP]    Script Date: 23.06.2023 13:35:49 ******/
CREATE DATABASE [PP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PP', FILENAME = N'D:\программы\MSSQL\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\PP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PP_log', FILENAME = N'D:\программы\MSSQL\SQLServer\MSSQL16.SQLEXPRESS\MSSQL\DATA\PP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PP]
GO
/****** Object:  Table [dbo].[Cabel]    Script Date: 23.06.2023 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabel](
	[IdCable] [int] IDENTITY(1,1) NOT NULL,
	[NameCable] [nvarchar](50) NOT NULL,
	[TypeCable] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cabel] PRIMARY KEY CLUSTERED 
(
	[IdCable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 23.06.2023 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[NameGender] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Infa]    Script Date: 23.06.2023 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infa](
	[IdInfa] [int] IDENTITY(1,1) NOT NULL,
	[NomerDogovora] [nvarchar](50) NOT NULL,
	[EmailPokup] [nvarchar](50) NOT NULL,
	[PhonePokup] [nvarchar](50) NOT NULL,
	[Zhite] [nvarchar](150) NOT NULL,
	[PassportSeries] [nvarchar](50) NOT NULL,
	[PassportNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Infa] PRIMARY KEY CLUSTERED 
(
	[IdInfa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 23.06.2023 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 23.06.2023 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[IdStaff] [int] IDENTITY(1,1) NOT NULL,
	[IdGender] [int] NOT NULL,
	[LastNameStaff] [nvarchar](50) NOT NULL,
	[FirstNameStaff] [nvarchar](50) NOT NULL,
	[MiddleNameStaff] [nvarchar](50) NULL,
	[EmailStaff] [nvarchar](50) NOT NULL,
	[PhoneNumberStaff] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[IdStaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23.06.2023 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 23.06.2023 13:35:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[IdZakaz] [int] IDENTITY(1,1) NOT NULL,
	[IdCable] [int] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[IdInfa] [int] NOT NULL,
 CONSTRAINT [PK_Zakaz] PRIMARY KEY CLUSTERED 
(
	[IdZakaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cabel] ON 

INSERT [dbo].[Cabel] ([IdCable], [NameCable], [TypeCable]) VALUES (2, N'ВВГ', N'Силовый провода')
INSERT [dbo].[Cabel] ([IdCable], [NameCable], [TypeCable]) VALUES (4, N'NYM', N'Силовой провод')
INSERT [dbo].[Cabel] ([IdCable], [NameCable], [TypeCable]) VALUES (5, N'щииищ', N'ну такое')
SET IDENTITY_INSERT [dbo].[Cabel] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([IdGender], [NameGender]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([IdGender], [NameGender]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Infa] ON 

INSERT [dbo].[Infa] ([IdInfa], [NomerDogovora], [EmailPokup], [PhonePokup], [Zhite], [PassportSeries], [PassportNumber]) VALUES (1, N'1', N'werwerwer', N'3423423423', N'dfsd', N'23432', N'32423423')
INSERT [dbo].[Infa] ([IdInfa], [NomerDogovora], [EmailPokup], [PhonePokup], [Zhite], [PassportSeries], [PassportNumber]) VALUES (2, N'12345678', N'fasdas', N'213412321', N'dsgdsd', N'23432', N'3242332')
SET IDENTITY_INSERT [dbo].[Infa] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'Админ')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (3, N'Директор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([IdStaff], [IdGender], [LastNameStaff], [FirstNameStaff], [MiddleNameStaff], [EmailStaff], [PhoneNumberStaff]) VALUES (1, 1, N'ав', N'аыв', N'выаыв', N'ваыавы', N'342423')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Login], [Password], [IdRole]) VALUES (1, N'1', N'1', 1)
INSERT [dbo].[User] ([IdUser], [Login], [Password], [IdRole]) VALUES (2, N'2', N'2', 2)
INSERT [dbo].[User] ([IdUser], [Login], [Password], [IdRole]) VALUES (3, N'3', N'3', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Zakaz] ON 

INSERT [dbo].[Zakaz] ([IdZakaz], [IdCable], [Address], [IdInfa]) VALUES (2, 4, N'Москва', 1)
INSERT [dbo].[Zakaz] ([IdZakaz], [IdCable], [Address], [IdInfa]) VALUES (6, 2, N'Чертаново', 1)
SET IDENTITY_INSERT [dbo].[Zakaz] OFF
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Gender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([IdGender])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Cabel] FOREIGN KEY([IdCable])
REFERENCES [dbo].[Cabel] ([IdCable])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Cabel]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Infa] FOREIGN KEY([IdInfa])
REFERENCES [dbo].[Infa] ([IdInfa])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Infa]
GO
USE [master]
GO
